* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monda', sans-serif;
}

button {
  font-family: inherit;
}

header {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Amatic SC';
  font-size: 4rem;
}

#breeds {
  font-family: inherit;
  font-size: 1.3rem;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
}

main {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper > * {
  margin: 2rem 0;
}

.img-wrapper {
  height: 500px;
  display: flex;
  align-items: center;
}

.dog-image {
  max-height: 100%;
  max-width: 90vw;
  display: none;
}

.dog-loading {
  font-size: 4rem;
  text-align: center;
  animation: spin 1s linear infinite;
  display: none;
}

.new-btn {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  border-color: transparent;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.show {
  display: block;
}

/* Media Queries */

@media (max-width: 660px) {
  .img-wrapper {
    height: 400px;
  }

  #breeds {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  #breeds {
    font-size: 1.2rem;
  }

  .img-wrapper {
    height: 300px;
  }
}

/* Animations */

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
